<%= render 'shared/navbar' %>

<div class="page-layout" >
  <h1 style="color: rgba(56, 176, 208, 1)">About</h1>

  <%# <div id="nav-icon4">
    <span></span>
    <span></span>
    <span></span>
  </div %>

  <p id="desc">Don’t Sleep is a music management and records company that supports creators
  who push culture forward. We live in London and work everywhere.</p>

  <p id="contact">Get us at <span>hello@dontsleep.london</span> – but no demos please.</p>

  <div class="icons">
    <a href="#">
      <i class="fab fa-spotify"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <p id="address">Don't Sleep.<br>
  Soho Works - The Tea Building<br>
  55 Shoreditch High Street<br>
  London<br>
  E1 6JJ</p>
</div>
