<h1 style="color: rgba(56, 176, 208, 1)">About</h1>

<p>Don’t Sleep is a music management and records company that supports creators
who push culture forward. We live in London and work everywhere.</p>

<p>Get us at hello@dontsleep.london – but no demos please.</p>

<p>Don't Sleep.<br>
Soho Works - The Tea Building<br>
55 Shoreditch High Street<br>
London<br>
E1 6JJ</p>
