<%= render 'shared/navbar' %>

<div class="page-layout" >
  <p id="desc">DON’T SLEEP IS A MUSIC COMPANY. WE SUPPORT CREATORS WHO PUSH CULTURE FORWARD. WE WORK WITHIN MANAGEMENT, RECORDS AND PUBLISHING.<br>
WE LIVE IN LONDON AND WORK EVERYWHERE.</p>

  <p id="contact">Get us at <a href="mailto:hello@dontsleep.co"><span>hello@dontsleep.co</span></a> – but no demos please.</p>

  <div class="icons">
    <a href="#">
      <i class="fab fa-spotify"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram"></i>
    </a>
  </div>

  <p id="address">Don't Sleep.<br>
  Soho Works - The Tea Building<br>
  55 Shoreditch High Street<br>
  London<br>
  E1 6JJ</p>
</div>
