<h4>Newest artists</h4>

<% @new_artists.each do |artist| %>
  <div>
    <%= artist.name %>
    <%= cl_image_tag artist.photo.key, height: 300, width: 400, crop: :fill if artist.photo.attached? %>
    <% if artist.spotify %>
      <% if artist.spotify.length > 0 %>
        <%= link_to artist.spotify, target: :blank do %>
          <i class="fab fa-spotify"></i>
        <% end %>
      <% end %>
    <% end %>
    <% if artist.instagram %>
      <% if artist.instagram.length > 0 %>
        <%= link_to artist.instagram, target: :blank do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
