<%= render 'shared/navbar' %>

<div class="page-layout" >
  <h1 style="color: rgba(112, 198, 171, 1)">News</h1>

  <div id="instafeed-container"></div>
	<script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
	<script type="text/javascript">
	var userFeed = new Instafeed({
    get: 'user',
		target: "instafeed-container",
    	resolution: 'low_resolution',
		  accessToken: 'IGQVJVNk5XblJYR0kwc29OaWNLbUZA3NmhBSmhYcko2RFliNzZAvVHFvbGJ0d2pjMEM3YnNYUHFwSnZAZAZAHNmRnlYc1VBRGlIc0U1VHhiRElHbTBtQnFPVXJ0SnhISGlSX1ZAiWVhXSXhvbFJ3WnFoM1RHYQZDZD'
	});
	userFeed.run();
	</script>
</div>
