<%= render 'shared/navbar' %>

<div class="page-layout" >
  <h1 style="color: rgba(112, 198, 171, 1)">News</h1>

  <div id="instafeed-container"></div>
	<script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
	<script type="text/javascript">
	var userFeed = new Instafeed({
    get: 'user',
		target: "instafeed-container",
    	resolution: 'low_resolution',
      // UPDATE access token to linke to dontsleep's instagram
		  accessToken: 'IGQVJVeFRiZATlydGNFVGNzVHlscGFvTlhlQ3NLYV9UU3FkUFQzR3hTWmVPTDJSOUVWVm50QVhScE4yVVJNTFRvdkRsNk9ObDBuUWNJall3T2lvVlRTRjl6aWRMZAE14LVRQenlOLXpzMjBTb3c1UUtkMwZDZD'
	});
	userFeed.run();
	</script>
</div>
