// Front card style
.front-card {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.front-card img {
  width: 100%;
}

.front-card:hover {
  img {
    filter: grayscale(0%);
  }
  p {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 800;
  }
}


.front-card p {
  position: absolute;
  font-weight: bolder;
  font-size: 28px;
  color: white;
  z-index: 1;
}

// Back card style
.back-card {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.artist-details {
  padding: 28px 28px 0px 28px;
  span {
    color: #3E3E3E;
    font-weight: lighter;
  }
}

.artist-heading {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  letter-spacing: 0.5px;

  .text-highlighted, .icons {
    margin-bottom: 0px;
  }
}

.quote {
  font-weight: 800;
  font-size: 22px;
  padding: 20px 0px 4px 0px;
  margin-bottom: 0px;
}

.quoted-by {
  font-weight: light;
  font-size: 14px;
  margin-bottom: 0px;
}

.img-container {
  flex-grow: 1;
  margin-top: 24px;
  height: 100px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

// Grid
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}


.outer-artist-card {
  display: flex;
  flex-grow: 1;
  width: 500px;
  height: 600px;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 630px) {
  .outer-artist-card {
    width: 100%;
  }
}
