.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.topnavbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 28px;
  width: 100%;
}

#transparent-nav {
  position: fixed;
  z-index: 1;
}

#filled-nav {
  background-color: white;
  align-items: center;

  img {
    height: 38px;
  }

  .dropdown-menu {
    margin-top: 22px;
  }
}

#transparent-nav i {
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  border-radius: 50px;
  padding: 12px;
  font-size: 18px;
  height: fit-content;
  width: fit-content;
}

.dropdown-menu {
  border: none;
  border-radius: 0px;
  padding: 0px;
  width: 200px;
}

.dropdown-item {
  font-size: 18px;
  font-weight: bolder;
  padding: 14px;
  &:active {
    background-color: #bdbfc2;
  }
}

#transparent-nav .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.7);
}

#filled-nav .dropdown i {
  -webkit-appearance: none;
}

#transparent-nav .dropdown i {
  -webkit-appearance: none;
}
