.release-card {
  display: flex;
  height: fit-content;
}

.release-details {
  // font-weight: bolder;
  // font-size: 24px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

// Small-Medium screen
@media only screen and (max-width: 800px) {
  .release-card {
    flex-direction: column;
  }

  .release-card img {
    width: 100%;
  }

  .release-details {
    padding: 24px;
    height: 35vh;
    overflow: scroll;

    .text-highlighted, .icons {
      margin-bottom: 24px;
    }
  }
}

// Medium-Large screen
@media only screen and (min-width: 800px) {
  .release-card {
    flex-direction: row;
  }

  .release-card img {
    height: 65vh;
    width: auto;
  }

  .release-details {
    height: 65vh;
    width: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 56px 42px;

    .text-highlighted, .icons {
      margin-bottom: 42px;
    }
  }
}

// Carousel

#carouselExampleControls {
  display: flex;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.arrows {
  position: relative;
  width: fit-content;
  height: fit-content;
  opacity: 1;

  &:hover {
    opacity: 0.7;
  }

  i {
    font-size: 24px;
    color: rgba(242, 86, 101, 1);
    padding: 12px;
  }
}
