.release-card {
  display: flex;
  height: fit-content;
}

.release-details {
  font-weight: bolder;
  font-size: 24px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  i {
    margin-bottom: 42px;
  }
}

// Small-Medium screen
@media only screen and (max-width: 800px) {
  .release-card {
    flex-direction: column;
  }

  .release-card img {
    width: 100%;
  }

  .release-details {
    padding: 24px;

    .text-highlighted, i {
      margin-bottom: 24px;
    }
  }
}

// Medium-Large screen
@media only screen and (min-width: 800px) {
  .release-card {
    flex-direction: row;
  }

  .release-card img {
    height: 65vh;
    width: auto;
  }

  .release-details {
    height: 65vh;
    width: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 56px 42px;

    .text-highlighted, i {
      margin-bottom: 42px;
    }
  }
}
