#pills-tab .nav-link {
  font-weight: bolder;
  text-transform: uppercase;

  &:hover {
    p {
    color: rgba(151, 124, 186, 1)
    }
  }
}

#pills-tab a {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  p {
    margin-bottom: 0px;
  }
}

.active {
  .tab-underline {
    height: 8px;
    background-color: rgba(151, 124, 186, 1)
  }
  p {
    color: black;
  }
}

#pills-home-tab {
  padding-left: 0px;
}

// Small-Medium screen
@media only screen and (max-width: 800px) {
  #pills-tab .nav-link {
    padding: 8px 10px;

    p {
      font-size: 24px;
    }
  }
}

// Small screen
@media only screen and (max-width: 550px) {
  #pills-tab .nav-link {
    padding: 8px 8px;

    p {
      font-size: 16px;
    }
  }
}

// Tiny screen
@media only screen and (max-width: 300px) {
  #pills-tab .nav-link {
    padding: 8px 6px;

    p {
      font-size: 12px;
    }
  }
}
