#pills-tab .nav-link {
  font-weight: bolder;
  text-transform: uppercase;

  &:hover {
    p {
    color: rgba(151, 124, 186, 1)
    }
  }
}

#pills-tab a {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  p {
    margin-bottom: 0px;
  }
}

.active {
  .tab-underline {
    height: 8px;
    background-color: rgba(151, 124, 186, 1)
  }
  p {
    color: black;
  }
}

#pills-home-tab {
  padding-left: 0px;
}

// Small-Medium screen
@media only screen and (max-width: 800px) {
  #pills-tab .nav-link {
    font-size: 16px;
    padding: 8px 10px;
  }
}

// Medium-Large screen
@media only screen and (min-width: 800px) {
  #pills-tab .nav-link { font-size: 24px; }
}
