// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.page-layout {
  margin: 3% 6% 3% 6%;
}

body {
  text-transform: uppercase;
}

h1 {
  margin: 42px 0px;
  font-weight: 800;
  font-size: 34px;
  letter-spacing: 1px;
}
