<h1>Releases</h1>

<%= link_to "New release", editor_releases_new_path %>

<% @releases.each do |release| %>
  <div>
    <%= release.artist.name %>
    <%= release.track_title %>
    <%= link_to "edit", edit_release_path(release) %>
    <%# INSERT release image %>
  </div>
<% end %>
