
<div class="page-layout" >
  <h1 style="color: rgba(242, 86, 101, 0.79)">Releases</h1>

  <% @releases.each do |release| %>
    <div class="release-card">
      <%= cl_image_tag release.photo.key if release.photo.attached? %>
      <div class="release-details">
        <div class="release-text">
          <p><%= release.artist_name %></p>
          <div class="underline"></div>
        </div>
        <div class="release-text">
          <p><%= release.track_title %></p>
          <div class="underline"></div>
        </div>
        <% if release.spotify %>
          <% if release.spotify.length > 0 %>
            <%= link_to release.spotify, target: :blank do %>
              <i class="fab fa-spotify"></i>
            <% end %>
          <% end %>
        <% end %>
        <iframe src="https://open.spotify.com/embed/album/6SYpepnoO7cpvhHKlOGqn5?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <iframe src="https://open.spotify.com/embed/album/6SYpepnoO7cpvhHKlOGqn5?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <iframe src="https://open.spotify.com/embed/album/6SYpepnoO7cpvhHKlOGqn5?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <%# INSERT apple music icon if statement %>
        <%# INSERT tidal music icon if statement %>
        <%# INSERT amazon music icon if statement %>
      </div>

    </div>
  <% end %>
</div>
