<h1>Releases</h1>

<% @releases.each do |release| %>
  <div>
    <%= release.artist_name %>
    <%= release.track_title %>
    <%= cl_image_tag release.photo.key, height: 300, width: 400, crop: :fill if release.photo.attached? %>
    <% if release.spotify %>
      <% if release.spotify.length > 0 %>
        <%= link_to release.spotify, target: :blank do %>
          <i class="fab fa-spotify"></i>
        <% end %>
      <% end %>
    <% end %>
    <%# MAYBE INSERT spotify embed %>
    <%# INSERT apple music icon if statement %>
    <%# INSERT tidal music icon if statement %>
    <%# INSERT amazon music icon if statement %>
  </div>
<% end %>
